*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body
{ 
	margin: 0;
	font-family: Now;
	background-image: url(about-wall.jpg);
}

.navMain
{
	background-color: #ffffff;
	height: 80px;
	width: 100%;	
}

.logo
{
  margin: 3px 15px;
}

.menu /*to change the position of the nav bar list*/
{
	float: right;
	margin-right: 15px;
}

.menu a /*to change the style & display order*/
{
	display: inline-block;
	line-height: 25px;
	margin: 20px 2px;
	color: #B3699E;
	font-size: 12px;
	text-transform: uppercase;
	padding:2px 10px;
	border-radius: 20px;
	text-decoration: none;
	
}

a.active,.menu a:hover /* animation of the nav bar elements*/
{
	background-color: #4B1D3D;
	color: #B3699E;
	transition: .6s;
}

.mbar
{
	font-size: 25px;
	color: white;
	padding: 20px 20px 0 0;
	float: right;
	display: none;
}

#toggle
{
	float: right;
	padding: 20px;
	display: none;
	
}

h1
{
	font-family: Gabriola;
	text-align: center;
	color: #915580;
	padding-top: 50px;
	font-size: 50px;
}

p
{
	text-align: center;
	margin: 30px 50px;
	padding: 80px 200px 40px 200px;
	font-family:'century gothic';
}

@media only screen and (max-width:1150px)
{
	.mbar
	{
		display: block;
		cursor: pointer;
	}

	.menu
	{
		text-align: center;
		width: 100%;
		display: none;
		margin-top: 35px;
	}

	.menu a
	{
		display: block;
		border-bottom: 1px solid #B3699E;
		margin: 0;
	}

	#toggle:checked + .menu
	{
		display: block;
	}
}