*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box; 

}

body
{ 
	font-family: Now;
	background-color: #FFEDF7;
}

.navMain
{
	background-color: #622350;
	height: 80px;
	width: 100%;

	
}

.logo
{
  margin-top: -12px;
}

.menu /*to change the position of the nav bar list*/
{
	float: right;
	margin-right: 15px;


}

.menu a /*to change the style & display order*/
{
	display: inline-block;
	line-height: 20px;
	margin: 30px 2px;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	padding:3px 10px;
	border-radius: 20px;
	text-decoration: none;
	
}

a.active,a:hover /* animation of the nav bar elements*/
{
	background-color: #4B1D3D;
	color: #B3699E;
	transition: 0.8s;
}

.mbar
{
	font-size: 25px;
	color: white;
	padding: 20px 20px 0 0;
	float: right;
	display: none;
}

#toggle
{
	float: right;
	padding: 20px;
	display: none;
	
}

@media only screen and (max-width:1150px)
{
	.mbar
	{
		display: block;
		cursor: pointer;
	}

	.menu
	{
		text-align: center;
		width: 100%;
		display: none;
		margin-top: 35px;
	}

	.menu a
	{
		display: block;
		border-bottom: 1px solid #B3699E;
		margin: 0;
	}

	#toggle:checked + .menu
	{
		display: block;
	}
}

