.navbar {
    position: sticky;
    overflow: hidden;
    width: 100%;
    background-color: #666666;
    top: 0;
    left: 0;
    right: 0;
    
}
.navbar a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    width: 10%;
    height: 10%;
    padding: 10px 10px;
    text-decoration: none;
    color: white;        
    float: left;    
    font-size: 20px;
    display: block;
}
.navbar a:hover{
    background-color: #262626;
}
.logo {
    display: block;
    width: 7.5%;
    background-color: black;
    padding-left: 78px;
    padding-right: 78px;
}
.navbar a.active {
    background-color: #00004d;
}
.navbar #book{
    background-color: firebrick;
}

.navbar #book:hover{
    background-color: blue;
}
.desc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    text-align: center;
    text-indent: 2px;
    padding: 50px;
    border: black solid 1px;
    margin: 20px;
}
.gallery img {
    border-radius: 8px;   
    width: 680px; 
    clear: both;
    object-position:center;
}
.facility {
    font-size: 45px;
    line-height: 100px;
    width: 75%;
    list-style: none;
    left: 10px;
    text-align: center;
    float:left;
}

.facility td:nth-child(even)
{
    text-align: left;
}
.contact a{
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    clear: both;
    text-align: center;
    
}
.contact a:hover{
    color: black;
}
.contact {
    position: fixed;;
    bottom: 0;
    right: 0;
    width: auto;
    left: 1;
    bottom: 0;
    padding: 10px;
}